
body{
  background-color: rgb(49, 45, 45);
  height: 100vh;
  width: 100vw;
}

.head{
  text-align: center;
  color: white;
  font-weight: 800;
  margin-bottom: 1.5rem;
 
}

.App{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
